* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Raleway', sans-serif;
}

.header {
    background-image: url('img/bg-header.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.logo {
display: block;
width: 146px;
height: 133px;
margin: 0 auto;
padding-top: 225px;
}
.icons {
display: flex;
list-style-type: none;
justify-content: center;
margin-top: 50px;
}
.icons__item {
    padding: 20px;
}
.icons__item--circle {
    border-radius: 50%;
    border: 2px solid #fff;
}
.title {
    font-weight: 500;
    font-size: 38px;
    color: #fff;
    text-align: center;
    margin-top: 90px;
}
.title--thin {
    font-weight: 100;
}
.Timer_Center {
    display: flex;
    list-style-type: none;
justify-content: center;
}
.timer__item {
    padding: 40px;
}

.timer__item {
margin-top: 5px;
font-size: 64px;
color: #fff;
text-align: center;
}

.timer__item2 {
   margin-top: -60px;
   margin-left: 35px;
   font-size: 20px;
   color: #fff;
   padding: 30px;
   font-weight: 100
   }

.timer__text--circle{
    border-radius: 50%;
    border: 2px solid #fff;
}

.Support_icon {
    margin:auto;
    filter: grayscale(100%)
}
.wrap {
    background-image: url('img/opacbck.png');
    background-size:cover;
    background-repeat: no-repeat;

}
.bckblack {

    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.light__item {
flex-basis: 30%;
padding: 75px 0;
}
.txt_un_icon {
    
    list-style-type: none;
    justify-content: left;
    margin-left:250px;
}
.txt_devop {
    text-transform: uppercase;
    font-size:28px;
    font-weight:700;
}
.main_dev_txt {
    
}
.main_txt {
    font-weight: 100px ;
    font-size: 16px;
}

.all_but {
    display: flex;
    justify-self: center;
}
.blackbut {
    background-color: black;
    color: #fff;
    border:none;
    width: 150px;
 height: 40px;
 font-size: 20px;
font-weight: 500px;
}
.greenbut {
    background-color: #51aa92;
    color: #fff;
    border: none;
    width: 150px;
    height: 40px;
    font-size: 20px;
    font-weight: 500px;
}
.blackbut1 {
background-color: black;
color: #fff;
border: none;
width: 150px;
height: 40px;
font-size: 20px;
font-weight: 500px;
}
.wrap_sub{
    background-color: #51aa92;
}
.bck_green1 {
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
    padding: 100px 0;
    position: relative;
}
.Email-place{
    position: absolute;
    top: 240px;
    left: calc(50% - 244px);
    border: 1px solid gray;
    padding: 20px;
    background-color: #fff;
}
.Email-in {
    padding: 10px;
    font-size: 20px;
    color: #5b5b5b;
    width: 380px;
    border: none;
}
.but-in {
    background-color: #51aa92;
    color: #fff;
    height: 50px;
    width: 120px;
font-weight: 500;
font-size: 20px;
border: none;

}
.Sub_text {
color: #fff;
font-weight: 500;
font-size: 72px;
}
.Sub_main_txt {
    margin-left: 75px;
    color: #fff;
    font-weight: 100px;
    font-size: 16px;
}
.wrap--who{

}
.bck_white_we {
    display: flex;
    background-color: #fff;
    padding: 150px 0;
    margin: 0 auto;
    width: 1200px;
}
.Who--place{


}
.Who_title {
font-weight: 700;
font-size: 52px;
color: #9a9a9a;
}
.Who_main_txt {
display: block;
width: 550px;
height: 75;
font-weight: 300;
color: #9a9a9a;
}
.place-main-txt{
    margin-left:20px ;
    display: flex;
}
.top-txt{
    padding-top: 10px;
}
.border_img {
    flex-shrink: 0;
}
.Decap_txt {
font-weight: 500;
color: #9a9a9a;
}
.Decap_main{
    display: block;
    width: 650px;
    height: 55;
    font-weight: 300;
    color: #9a9a9a;
}
.img_twitter{
background-color: #51aa92;
height: 400px;
width: auto;
}
.cen_twit{
    display: block;
    width: 48px;
    height: 38px;
margin: 0 auto;
padding-top: 75px;
}
.link_em {
text-align: center;
padding-top: 50px;
color:#fff;
font-size:24px;
}
.Semiboil {
font-weight: 600px;

}
.date_txt {
font-weight: 600px;
text-align: center;
padding-top: 50px;
color: #fff;
font-weight: 600px;
font-size: 18px;
}
.bg_botton{
    background-image: url(img/bg-bottom.png);
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(90%)
}